#ifdef OPLUS_FEATURE_CHG_BASIC
#/* Add for charging */
CONFIG_TCPC_SGM7220=m
CONFIG_TCPC_AW35616=m
CONFIG_MTK_VIDEO_AW36518_23660=m
CONFIG_DRM_BIAS_AW37501=m
CONFIG_DRM_PANEL_OPLUS23661_TM_NT36672C_FHD_DSI_VDO=m
CONFIG_MTK_MT6382_BDG=m
CONFIG_OPLUS_FEATURE_LOG_CORE=m
# CONFIG_OPLUS_CHG_V2 is not set
CONFIG_OPLUS_CHARGER_MTK6835T=y
CONFIG_OPLUS_CHARGER_OPTIGA=y
# CONFIG_OPLUS_CHARGER_MTK6985S is not set
# CONFIG_MTK_SCP_AUDIO is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_OPLUS_MTK_DRM_SUB_NOTIFY is not set
# CONFIG_LEDS_MTK_PWM is not set
# CONFIG_TYPEC_MUX_FLIP_ALPHA_FSA4480 is not set
# CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG is not set
# CONFIG_OPLUS_GPIO is not set
CONFIG_OPLUS_CHG_V2=n
#endif

#cpuboucing close
CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING=n
